@import '../estilos/gerais.scss';


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    
    .mobile{
        display: none;
    }

    .nome{
        display: flex;
        justify-content: flex-start;
        padding: 1em 3em;
    }
    
        .container{

            min-height: 70vh;
            width: 42vw;
            display: flex;
            flex-direction: column;
            background-color: $White;
            border-radius: 10px;
            margin: -7em 1px 1px 1px;


            
            @media screen and (max-width:500px ) {
                
                    min-height: 80vh;
                    width: 90vw;
                
            }
          
                
           .f{ 
            padding: 1px 3em;
            .resposta{
                font-size: 16px;
                display: none;
                
                text-align: left;
               
            }
            .perguntas{
                font-weight: 600;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                    &:hover{
                        cursor: pointer;
                        color: #A34FBE;
                    }
                
                
                .minus{
                    display: none;
                }
            }
           }
        }
    
}



